@mixin flexy($direction,$align,$justi) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justi;
}

@mixin gridy($columnas ,$filas, $espacio){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    grid-template-rows: repeat($filas,1fr);
    gap: $espacio;
}