$altoEnFooter: 10px;
@import "bootstrap/bootstrap.scss";
@import "_mixxx.scss";
@import "_variables";

//reset css
:root{
    --color-primario:#181818;
    --color-secundario:#f0f0f0;
    --tipo-principal: helvetica, arial, sans-serif;
    --tipo-secundaria: verdana;

}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
form, input, textarea, select, button, label, a{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}
::selection{
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
body{

    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--color-primario);
    background-color: var(--color-secundario);
    line-height: 1.4em;
    font-smooth: always;
    background-color: $color-principal;
   
         
}
//nav part
nav{
    min-height: 8vh;
    min-width: 100%;
    background-color: rgb(10, 8, 8);
    img{
        object-fit: cover;
        width: 40px;
    }
}

//main part-------------------------------------------------------

main{
    margin: 0;
    padding: 0;
    min-height: 80vh;
    height: 100%;
    .section-main{
        height: 100%;
        min-width: 100%;
        display: grid;
        grid-template-columns: 5fr 1fr;
        grid-template-rows: 1fr;
    .text-main{
        margin: 10px;
        flex-direction: column;
        grid-area: parrafo;
        align-items: center;
        justify-content: center;
    }
    p{
        
        width: 70%;
        text-align: justify;
    }
    img{
        width: 60%;
        grid-area: imagen;;
    }
    grid-template-areas: "parrafo imagen";
    }

}
//footer part-----------------------------------------------
footer{
    display: block;
    margin-top: auto;
    color: #f0f0f0;
    min-width: none;
    width:100%;
    height: 100%;
    .foot-end{
        text-align: center;
    }
    .footer__container{
        padding: 0;
        height: 100%;
        width: 100%;
        @include flexy(row,center,space-evenly);
        
        margin-top: 0px;
        border:solid 0.5px rgb(70, 72, 73);
        
       

        .footer__container-column{
            height: 100%;
        

        ul {
                
                width: 100%;
                li{
                    text-decoration: none;
                    list-style: none;
                    height: $altoEnFooter*2 ;
                    margin-top: $altoEnFooter/2;
                    a{
                        text-decoration-line: none;
                        img{
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                        }
                    }
                    }
                
                }
                
                
                
                
                .footer__container-h6{
                    text-align: center;
                    display: block;
                }
                
                
                .foot-b{
                    font-size: 9px;
                    height: $altoEnFooter;
                    margin: 12px;
                    margin-right: 3px;
                }
                
                 .fp{
                    @extend .foot-b;
                    font-style: italic;
                    
                }
                 .foot-end{
                    margin: auto;
     text-align: center;               
     display: block;
                    height: 100%;
                }
                
            }
    }}

    // PRODUCTOS PAGE-----------------------------------
    .nav__prod{
        background-color: $color-principal;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
}

.catalogo{
    gap: 5px;
    .container-fluid{
        
        align-items: center;
        justify-content: center;

        .catalogo__card .card{
            height: 200px;
            opacity: 0.8;
            width: 12rem;  

            img{
                
                opacity: 0.5;
            }       
        }
    }

    
}


// cartas 
.catalogo__card{
    
    max-height: 400px;
    min-width: 10rem;
    width: 30%;
    height: 25rem;
// imagen carta
    .card-img-top{
        object-fit: contain;
        height: 100%;
        }

        // card body 
        .card-body{
            height: 40%;
        }
   
}
.container-fluid{
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.catalogo__h1{
    text-align: center;
    color: $color-principal;
    background-color: $color-secundario;
    opacity: 0.9;
}
.navbar-collapse{
    justify-content: flex-end;
}
    .main__prod{
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        @include flexy(column,center,center)
    }
    // CONOCENOOOOOSSSS---------------------------------------------
    .contacto form .content_contacto img{
        animation-name: movimiento;
        width: 20%;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        display: block;
        height: 20%;
        margin: auto;
    }
    .contacto {
        width: 100%;
        @include flexy(row,center,center);
        .content_contacto{
            margin: auto;
            width: 60%;
            padding: 30px;
            border: solid 2px $color-secundario;
            border-top: none;
            border-bottom: none;
        }
        .footer__container-input{
            display: block;
            
        }
        .form__input{
            background-color: $color-secundario;
            color: $color-principal;
            margin: auto;
            width: 120px;
            border-radius: 5%;

    }}
@keyframes movimiento{
0%{margin-left: 0%;}
50%{margin-left: 65%;}
100%{margin-left: 0%;}

}
.contacto form  :hover{
    background-color: rgb(205, 183, 214);
    
}
    
    //  QUUUUUEEEEERYYYYYSSSS ----------------------------------------------
@media screen and (max-width:580px) {
    body{
        height: 100%;
    }
        nav{
            min-height: 100%;
    
            ul{
                li{
                    align-items: center;
                    text-align: center;
                }
             }
        }
 

    main{
         @include flexy(column,center,center);
         .section-main{
         display: block;
            width: 100%;
                        .text-main{
                            display: block;
                            text-align: justify;
                            width: 90%;
                                    p {
                                        width: 95%;
                                        margin: auto;
                                    }
                                    h1{
                                        margin: auto;
                                        text-align: center;
                                    }
                                   }
                        .img-main{
                            display: block;
                            margin: auto;
                            @include flexy(row, center,center)
                        }
       

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer .col-3{
        height: 100%;
        width: 100%;
    }}

    .catalogo{
        gap: 0px;
        .container-fluid{
            gap: 0px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .catalogo__card{
                width: 20rem;
                           }
                        }
               }

// conocenos QUERYS--------------------------- 
.contacto {
    width: 100%;
    .form{
        
        .form-label{
            text-align: center;
            background-color: $color-secundario;
            color: $color-principal;
            font-size: 0.9rem;
        }
        .form__container-h1{
            text-align: center;
        }
        .content_contacto{
            padding: 0px;
            margin: 0;
            width: 100%;
            border: none;
            
                        }
           }}

        }
    // FOOTER----------------------------------------------------QUERYS
    footer{
        @include flexy(column,center,center);
        margin-top: auto;
        color: #f0f0f0;
        min-width: none;
        width:100%;
        height: 100%;
        .foot-end{
            text-align: center;
        }
        .footer__container{
            
            @include flexy(column,center,center);
            
            margin-top: 0px;
            border:solid 0.5px rgb(70, 72, 73);
            
            
    
            .footer__container-column{
                @include flexy(column,center,center);
                border: solid 0.5px $color-secundario;
                width: 100%;
                height: 10%;
            // display: block;
            .foooter__container-h6{
                font-size: 14px;
                font-style: bold;
                vertical-align: 0;
            }
            .fp{
                
                display: block;
                margin-top: 0px;
                font-size: 14px;
            }
            ul{

                justify-content: center;
                text-align: center;
            li{
                height: 15px;
            }
            }
            }    
    
    
            }}    }
// fin de las querys
