$altoEnFooter: 10px;
@import "bootstrap/bootstrap.scss";
@import "_mixxx.scss";
@import "_variables";

//reset css
:root{
    --color-primario:#181818;
    --color-secundario:#f0f0f0;
    --tipo-principal: helvetica, arial, sans-serif;
    --tipo-secundaria: verdana;

}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
img, picture, video, iframe, figure{
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center center;
}
form, input, textarea, select, button, label, a{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color: inherit;
}
::selection{
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
body{

    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    color: var(--color-primario);
    background-color: var(--color-secundario);
    line-height: 1.4em;
    font-smooth: always;
    background-color: $color-principal;
   
         
}
//nav part
nav{
    min-height: 10vh;
    min-width: 100%;
    background-color: rgb(10, 8, 8);
    img{
        object-fit: cover;
        width: 40px;
    }
}

//main part-------------------------------------------------------

main{
    margin: 0;
    padding: 0;
    min-height: 80vh;
    height: 100%;
    .main__section{
        height: 100%;
        min-width: 100%;
        @include flexy(column,center,center);
        .main__section-text{
            background-color: #1818181e ;
        backdrop-filter: blur(10px);
        color: $color-principal;
        margin: 10px;
        flex-direction: column;
        width: 80%;
        height: 250px;
        align-items: center;
        justify-content: center;
        border: solid 1px $color-principal;
        
    }
    p{
        padding: 10px;
        width: 100%;
        text-align: justify;
        margin: auto;
    }
    
}
.text-main-p{
    font-size: 1em ;
}
.main__dimagen-img{
    width: 20%;
    grid-area: imagen;
    align-items: center;
    margin: auto;
   
}

}
.main__home{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.712), rgba(0, 0, 0, 0.699)), url("../img/gale10.jpeg");
    background-size: cover;
    
}
.text-main-h1{
    margin: auto;
    color: $color-principal;
    width: 50%;
}
//footer part-----------------------------------------------
footer{
    display: block;
    margin-top: auto;
    color: #f0f0f0;
    min-width: none;
    width:100%;
    height: 100%;
    .foot-end{
        text-align: center;
    }
    .footer__container{
        padding: 0;
        height: 100%;
        width: 100%;
        @include flexy(row,center,space-evenly);
        
        margin-top: 0px;
        border:solid 0.5px rgb(70, 72, 73);
        
       

        .footer__container-column{
            height: 100%;
        

        ul {
                
                width: 100%;
                li{
                    text-decoration: none;
                    list-style: none;
                    height: $altoEnFooter*2 ;
                    margin-top: $altoEnFooter/2;
                    a{
                        text-decoration-line: none;
                        img{
                            width: 20px;
                            height: 20px;
                            display: inline-block;
                        }
                    }
                    }
                
                }
                
                
                
                
                .footer__container-h6{
                    text-align: center;
                    display: block;
                }
                
                
                .foot-b{
                    font-size: 11px;
                    height: $altoEnFooter;
                    margin: 12px;
                    margin-right: 3px;
                }
                
                 .fp{
                    @extend .foot-b;
                  
                    
                }
                 .foot-end{
                    margin: auto;
     text-align: center;               
     display: block;
                    height: 100%;
                }
                
            }
    }}

    // PRODUCTOS PAGE-----------------------------------
    .nav__prod{
        background-color: $color-principal;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    position: sticky;
    z-index: 10000;
    top:0;
    border-bottom: solid 1px black;
}
.nav-item:hover{
    background-color: #4b4091d0;
}

.catalogo{
    z-index: 0;
    gap: 5px;
    .container-fluid{
        padding: 0;
        align-items: center;
        justify-content: center;

        .catalogo__card .card{
            height: 200px;
            opacity: 0.8;
            width: 12rem;  

            img{
                
                opacity: 0.5;
            }       
        }
    }

    
}


// cartas 
.catalogo__card{
    
    min-height: 450px;
    min-width: 10rem;
    width: 30%;
    height: 24rem;
    margin-top: 2px;
// imagen carta
    .card-img-top{
        object-fit: contain;
        max-height: 49%;
        max-width: 50%;
        justify-content: center;
        margin: auto;
        }

        // card body 
        .card-body{
            min-height: 45%;
            padding: 0;
text-align: center;
@include flexy(column,center,space-evenly);
p{margin-left: 3px;
    margin-right: 3px;
text-align: start;}


        }
   
}
.container-fluid{
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.catalogo__h1{
    text-align: center;
    color: $color-principal;
    background-color: $color-secundario;
    opacity: 0.9;
}
.navbar-collapse{
    justify-content: flex-end;
}
    .main__prod{
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        @include flexy(column,center,center)
    }
    // CONOCENOOOOOSSSS---------------------------------------------
    .contacto form .content_contacto img{
        animation-name: movimiento;
        width: 20%;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        display: block;
        height: 20%;
        margin: auto;
    }
    .contacto {
        width: 100%;
        @include flexy(row,center,center);
        .content_contacto{
            margin: auto;
            width: 60%;
            padding: 30px;
            border: solid 2px $color-secundario;
            border-top: none;
            border-bottom: none;
        }
        .footer__container-input{
            display: block;
            
        }
        .form__input{
            background-color: $color-secundario;
            color: $color-principal;
            margin: auto;
            width: 120px;
            border-radius: 5%;

    }}
@keyframes movimiento{
0%{margin-left: 0%;}
50%{margin-left: 65%;}
100%{margin-left: 0%;}

}
.contacto form  :hover{
    background-color: rgb(205, 183, 214);
    
}

// READERS-----------------------------------------------------
.content-readers{
    
    // filter: blur(6px);
    color: aliceblue;
    
    h1{
        background-color: $color-secundario;
        color: $color-principal;
        text-align: center;
        margin: 0;
    }
}
.reader{
    background-image: url("../img/foto2.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.925), rgba(0, 0, 0, 0.904)), url("../img/gale10.jpeg");
    background-size: contain;
    padding: 10px;
border-bottom: solid 1px gray;
    .cards{
      
        margin: auto;
p{color: gray;}
a{display: block ruby;}

        img{
            border-radius: 50%;
        }
    }
}
.reader__dimagen{
    
    width: 42%;
    margin: auto;
    padding: 0px 0px 10px 0px;}
.img-readers{
    object-fit: scale-down;
}
    // GALERIAAAAA----------------------------------------GALERIA
    .galeria__h1{
        text-align: center;
    }
    .galeria__dimagen{
        height: 100%;
        @include gridy(4,4,5px);
    img{
        object-fit: cover;
        height: 100%;
    }
    }
    //  QUUUUUEEEEERYYYYYSSSS ----------------------------------------------
@media screen and (max-width:580px) {
    body{
        height: 100%;
    }
        nav{
            min-height: 100%;
    
            ul{
                li{
                    align-items: center;
                    text-align: center;
                }
             }
        }
        .text-main-h1{
            
            width: 100%;
        }

    main{
       
        min-height: 100%;
         @include flexy(column,center,center);
         .section-main{
         display: block;
            width: 100%;
                        .text-main{
                            display: block;
                            text-align: justify;
                            width: 100%;
                            margin: 0;
                                    p {
                                        width: 95%;
                                        margin: auto;
                                        padding: 3px;
                                    }
                                    h1{
                                        margin: auto;
                                        text-align: center;

                                    }
                                   }
                        .img-main{
                            display: block;
                            margin: auto;
                            @include flexy(row, center,center);
                            margin-bottom:0;
                        }
       

    footer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    footer .col-3{
        height: 100%;
        width: 100%;
    }}
// PRODUCTOS QUERYS --------------------------------------->
    .catalogo{
        gap: 0px;
        .container-fluid{
            gap: 0px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
                        }
               }

             
.catalogo__card{
    
    min-width: 100%;
    margin: 0;
// imagen carta
    .card-img-top{
        object-fit: contain;
        height: 100%;
        }

        // card body 
        .card-body{
            min-height: 45%;
            padding: 0;
text-align: center;
        }
   
}

// conocenos QUERYS--------------------------- 
.contacto {
    width: 100%;
    .form{
        
        .form-label{
            text-align: center;
            background-color: $color-secundario;
            color: $color-principal;
            font-size: 0.9rem;
        }
        .form__container-h1{
            text-align: center;
        }
        .content_contacto{
            padding: 0px;
            margin: 0;
            width: 100%;
            border: none;
            
                        }
           }}

        }
        // querys READERS--------------------------------------------
        // READERS-----------------------------------------------------

.reader{
    flex-direction: column;
    padding: 0px;
    margin: auto;
    .cards{
        padding: 5px;
        a{
          display: block ruby;
          margin-bottom: 5px;
          background-color: transparent;
             }
      
        
        p{color: rgb(189, 189, 189);}

        .card-img-top{
            border-radius: 50%;
            border-color: solid 2px rgb(146, 146, 235) ;
           
        }
        h5{text-align: center;}
        
}
.reader__dimagen{
    
    width: 100%;
    margin: auto;
    padding: 0;}

    
    
}
}
// fin de las querys

// FOOTER----------------------------------------------------QUERYS
@media screen and (max-width:580px) {




    footer{
        @include flexy(column,center,center);
        margin-top: auto;
        color: #f0f0f0;
        min-width: none;
        width:100%;
        height: 100%;
        .foot-end{
            text-align: center;
        }
        .footer__container{
            
                @include flexy(column,center,center);
            
                margin-top: 0px;
                border:solid 0.5px rgb(70, 72, 73);
            
            
    
            .footer__container-column{
                @include flexy(column,center,center);
                border: solid 0.5px $color-secundario;
                width: 100%;
                height: 10%;
            
                .foooter__container-h6{
                    font-size: 14px;
                    font-style: bold;
                    vertical-align: 0;
                }

                .fp{
                
                    display: block;
                    margin-top: 0px;
                    font-size: 14px;
                }
            ul{
                justify-content: center;
                text-align: center;
                    li{
                        height: 15px;
                        }

            }
                                    }
                        }
        }
// galeria query ----- galeria query---galeria query
.galeria__dimagen{
    height: 100%;
    grid-template-columns: repeat(2,1fr);
img{
    object-fit: cover;
    height: 100%;
}
}
                }   //cierre del query footer


                @media screen and (max-width:580px){
                    .main__section-text{
                        min-width: 100%;
                    }
                    .text-main-p{
                        font-size: 0.5rem;
                    }
                } 